# Maven target folder
target/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
*.iml
.vscode/

# Environment / secrets
.env
# application.properties

# Compiled class files
*.class

# Jar files
*.jar
*.war

# Temporary files
*.tmp